.dropdown__container {
  width: 500px;
  margin: 30px auto;
  padding: 0;
  background: #fff;
}

.dropdown {
  display: flex;
  height: 40px;
  list-style: none;
  justify-content: space-between;

  &__item {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 2.857;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
  }

  &__item--active {
    overflow: visible;
    color: #fff;
    background: #000;
  }

  &__subItem {
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    transition: transform 0.3s, opacity 0s;
    transform: translateY(-15px);
    opacity: 0;
  }

  &__subItem--active {
    transform: translateY(0);
    opacity: 1;
  }

  &__content {
    padding: 10px 15px;
    color: #fff;
    background: #000;

    &:hover {
      opacity: 0.5;
    }
  }
}


