{
    "root": true,
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true
    },
    "extends": [
        "airbnb",
        "prettier"
//        "prettier/react"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "printWidth": 120,
                "singleQuote": true,
                "trailingComma": "es5"
            }
        ],
        "no-mixed-operators": 0
    }
}
