<div class="section">
  <div class="section__container">
    <h2 class="section__title"><img class="section__shortTitleImg" src="../assets/images/clusel.png" alt="カルーセル"></h2>
    <p class="section__subtitle">カルーセル</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <div class="clusel">
        <div class="clusel__main">
          <div class="prev" id="prev">&lt;</div>
          <div class="slideContainer">
            <div class="slide slide--active">1</div>
            <div class="slide">2</div>
            <div class="slide">3</div>
            <div class="slide">4</div>
            </dev>
          </div>
          <div class="next" id="next">&gt;</div>
        </div>
        <div class="clusel__bottom">
          <ul class="dots">
            <li class="dot dot--active"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
