<div class="section">
  <div class="section__container">
    <h2 class="section__title"><img class="section__titleImg" src="../assets/images/dropdown.png" alt="ドロップダウンメニュー">
    </h2>
    <p class="section__subtitle">ドロップダウンメニュー</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <div class="dropdown__container">
        <ul class="dropdown">
          <li class="dropdown__item" id="dropdown__item1">about
            <ul class="dropdown__subItem" id="dropdown__subItem1">
              <li class="dropdown__content"><a>about1</a></li>
              <li class="dropdown__content"><a>about2</a></li>
              <li class="dropdown__content"><a>about3</a></li>
            </ul>
          </li>
          <li class="dropdown__item" id="dropdown__item2">service
            <ul class="dropdown__subItem" id="dropdown__subItem2">
              <li class="dropdown__content"><a>service1</a></li>
              <li class="dropdown__content"><a>service2</a></li>
              <li class="dropdown__content"><a>service3</a></li>
            </ul>
          </li>
          <li class="dropdown__item" id="dropdown__item3">news
            <ul class="dropdown__subItem" id="dropdown__subItem3">
              <li class="dropdown__content"><a>news1</a></li>
              <li class="dropdown__content"><a>news2</a></li>
              <li class="dropdown__content"><a>news3</a></li>
            </ul>
          </li>
          <li class="dropdown__item" id="dropdown__item4">contact
            <ul class="dropdown__subItem" id="dropdown__subItem4">
              <li class="dropdown__content"><a>contact1</a></li>
              <li class="dropdown__content"><a>contact2</a></li>
              <li class="dropdown__content"><a>contact3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
