<div class="section">
  <div class="section__container">
    <h2 class="section__title"><img class="section__titleImg" src="../assets/images/hamburger.png" alt="ハンバーガーメニュー">
    </h2>
    <p class="section__subtitle">ハンバーガーメニュー</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <p class="demo__bigText">上部の<img class="hamburgerImg" src="../assets/images/menu.png" alt="メニューボタン">をクリックしてください。
      </p>
    </div>
  </div>
</div>
