<div class="header__container">
  <div class="header__menuCover" id="header__menuCover"></div>
  <div class="header__logo">
    <img class="header__logoImg" src="../assets/images/nijibox_logo.png" alt="nijibox">
  </div>
  <div class="menuBtn" id="menuBtn">
    <p class="menuBtn__text">MENU</p>
    <div class="menuBtn__container">
      <span class="menuBtn__bar1"></span>
      <span class="menuBtn__bar2"></span>
      <span class="menuBtn__bar3"></span>
    </div>
  </div>
  <div class="header__menu" id="header__menu">
    <nav>
      <ul class="header__menuList">
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Hambergar menu</a></li>
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Dropdown menu</a></li>
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Tab menu</a></li>
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Modal</a></li>
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Clusel</a></li>
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Loading action</a></li>
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Smooth scroll</a></li>
        <li class="header__menuListItem"><a class="header__menuLink" href="#">Scroll action</a></li>
      </ul>
    </nav>
  </div>
</div>
