<div class="section">
  <div class="section__container">
    <h2 class="section__title"><img class="section__titleImg" src="../assets/images/loading.png" alt="ローディングアクション"></h2>
    <p class="section__subtitle">ローディングアクション</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <p class="demo__text">ページを読み込み時・再読み込み時に表示されるポップアップです。<br>
        <span class="reload" id="reload">＞＞＞＞＞＞リロードする＜＜＜＜＜＜</span></p>
    </div>
  </div>
</div>
