<div class="section">
  <div class="section__container">
    <h2 class="section__title"><img class="section__shortTitleImg" src="../assets/images/modal.png" alt="モーダル"></h2>
    <p class="section__subtitle">モーダル</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <div class="modal">
        <div class="modal__btn" id="open">
          open modal window
        </div>
        <div class="modal__mask modal__mask--hidden" id="modal__mask"> </div>
        <div class="modal__window modal__window--hidden" id="modal__window">
          <p class="modal__text">モーダルが表示されました。</p>
          <div class="modal__btn" id="close">
            close modal window
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
