<div class="section scrollAction" id="scrollAction">
  <div class="section__container">
    <h2 class="section__title"><img class="section__titleImg" src="../assets/images/scrollaction.png" alt="スクロールアクション">
    </h2>
    <p class="section__subtitle">スクロールアクション</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <p class="demo__text">スクロールすることで画像や文字を出現させるなどのアクションを行います。</p>
    </div>
  </div>
</div>
