<div class="section">
  <div class="section__container">
    <h2 class="section__title"><img class="section__titleImg" src="../assets/images/smoothscroll.png" alt="スムーススクロール">
    </h2>
    <p class="section__subtitle">スムーススクロール</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <div class="smoothScroll" id="smoothScroll">
        Smooth Scroll
      </div>
    </div>
  </div>
</div>
