<div class="section">
  <div class="section__container">
    <h2 class="section__title"><img class="section__shortTitleImg" src="../assets/images/tab.png" alt="タブメニュー"></h2>
    <p class="section__subtitle">タブメニュー</p>
    <div class="demo">
      <div class="demo__block">DEMO</div>
      <div class="tab__container">
        <ul class="tab">
          <li class="tab__item tab__item--active">about</li>
          <li class="tab__item">service</li>
          <li class="tab__item">news</li>
          <li class="tab__item">contact</li>
        </ul>
        <div class="tab__content tab__content--active">
          <p class="tab__text">TAB1</p>
        </div>
        <div class="tab__content">
          <p class="tab__text">TAB2</p>
        </div>
        <div class="tab__content">
          <p class="tab__text">TAB3</p>
        </div>
        <div class="tab__content">
          <p class="tab__text">TAB4</p>
        </div>
      </div>
    </div>
  </div>
</div>
